/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40pt 0pt 70pt;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400pt;
}



.bigLabel {
    font-size: 30pt;
    font-family: Monospaced;

    margin: 20pt;
    margin-bottom: 50pt;
}
.dialogVPanel {
  margin: 5pt;
}

.gwt-Anchor .gwt-Hyperlink .gwt-InlineHyperlink {
    cursor: pointer;
}
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}
.smallMarginLeft {
    margin-left: 5pt;
}

.smallMarginRight {
    margin-right: 5pt;
}
.smallMarginTop {
    margin-top: 5pt;
}

.smallMarginBottom {
    margin-bottom: 5pt;
}

.standardMarginRight {
    margin-right: 10pt;
}

.standardMarginBottom {
    margin-right: 10pt;
}
.withScroll {

    overflow: auto;
}

.mainPadding {

    padding: 20pt;
}

.displayInline {
    display: inline;
}
.withBottomBorder {
    border-bottom-style: ridge;
    border-bottom: 1pt;
    border-bottom-color: #3f3f3f;
}

.withRightBorder {
    border-right-style: ridge;
    border-right: 1pt;
    border-right-color: #3f3f3f;
}

.standardMarginTop {
    margin-top: 10pt;
}
.bigText {

    font-size: 30pt;
}
.standardTextArea {
    height: 70pt;
}

.bigTextArea {
    height: 150pt;
}
.backgroundColor {
    background-color: #FFFFFF;
}
.serverResponseLabelError {
  color: red;
}

.no-flickering {

    -webkit-backface-visibility: hidden;
}
.bigFont {

    font-size: 200%;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15pt 6pt 6pt;
}

#nojs {
    width: 22em;
    position: absolute;
    left: 50%;
    margin-left: -11em;
    color: red;
    background-color: white;
    border: 1pt solid red;
    padding: 4pt;
    font-family: sans-serif
}

#__gwt_historyFrame {
    position:absolute;
    width:0;
    height:0;
    border:0
}


