/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40pt 0pt 70pt;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400pt;
}



.bigLabel {
    font-size: 30pt;
    font-family: Monospaced;

    margin: 20pt;
    margin-bottom: 50pt;
}
.dialogVPanel {
  margin: 5pt;
}

.gwt-Anchor .gwt-Hyperlink .gwt-InlineHyperlink {
    cursor: pointer;
}
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}
.smallMarginLeft {
    margin-left: 5pt;
}

.smallMarginRight {
    margin-right: 5pt;
}

.standardMarginRight {
    margin-right: 10pt;
}

.standardMarginBottom {
    margin-right: 10pt;
}
.withScroll {

    overflow: auto;
}

.displayInline {
    display: inline;
}
.withBottomBorder {
    border-bottom-style: ridge;
    border-bottom: 1pt;
    border-bottom-color: #3f3f3f;
}

.withRightBorder {
    border-right-style: ridge;
    border-right: 1pt;
    border-right-color: #3f3f3f;
}

.standardMarginTop {
    margin-top: 10pt;
}
.bigText {

    font-size: 30pt;
}
.standardTextArea {
    height: 70pt;
}

.bigTextArea {
    height: 150pt;
}
.backgroundColor {
    background-color: #FFFFFF;
}
.serverResponseLabelError {
  color: red;
}

.no-flickering {

    -webkit-backface-visibility: hidden;
}
.bigFont {

    font-size: 200%;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15pt 6pt 6pt;
}

#nojs {
    width: 22em;
    position: absolute;
    left: 50%;
    margin-left: -11em;
    color: red;
    background-color: white;
    border: 1pt solid red;
    padding: 4pt;
    font-family: sans-serif
}

#__gwt_historyFrame {
    position:absolute;
    width:0;
    height:0;
    border:0
}



/*.gwt-DecoratedTabBar {*/
    /*background: #ccc;*/
    /*padding-top: 6pt;*/
/*}*/

/*.gwt-DecoratedTabBar .gwt-TabBarFirst {*/
    /*width: 5pt;  *//* first tab distance from the left */
/*}*/

/*.gwt-DecoratedTabBar .gwt-TabBarRest {*/
/*}*/

/*.gwt-DecoratedTabBar .gwt-TabBarItem {*/
    /*border-collapse: collapse;*/
    /*margin-left: 4pt;*/
/*}*/

/*.gwt-DecoratedTabBar .tabTopCenter {*/
    /*padding: 0pt;*/
    /*background: #8E8E8E;*/
/*}*/

/*.gwt-DecoratedTabBar .tabTopLeft,*/
/*.gwt-DecoratedTabBar .tabTopRight {*/
    /*padding: 0pt;*/
    /*zoom: 1;*/
/*}*/

/*.gwt-DecoratedTabBar .tabTopLeftInner,*/
/*.gwt-DecoratedTabBar .tabTopRightInner {*/
    /*width: 3pt;*/
    /*height: 3pt;*/
/*}*/

/*.gwt-DecoratedTabBar .tabMiddleLeft,*/
/*.gwt-DecoratedTabBar .tabMiddleRight {*/
    /*width: 3pt;*/
    /*padding: 0pt;*/
    /*background: #8E8E8E;*/
/*}*/

/*.gwt-DecoratedTabBar .tabMiddleLeftInner,*/
/*.gwt-DecoratedTabBar .tabMiddleRightInner {*/
    /*width: 1pt;*/
    /*height: 1pt;*/
/*}*/

/*.gwt-DecoratedTabBar .tabMiddleCenter {*/
    /*padding: 0pt 5pt 4pt 5pt;*/
    /*cursor: pointer;*/
    /*cursor: hand;*/
    /*color: #fff;*/
    /*font-weight: normal;*/
    /*text-align: center;*/
    /*background: #8E8E8E;*/
/*}*/


/*.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {*/
    /*background:#fff;*/
/*}*/

/*.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,*/
/*.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {*/
    /*background: #fff;*/
/*}*/

/*.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {*/
    /*cursor: default;*/
    /*background: #fff;*/
    /*color:#333;*/
    /*font-weight:bold;*/
/*}*/

/*.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {*/
    /*cursor: default;*/
    /*color: #999999;*/
/*}*/

/*html>body .gwt-DecoratedTabBar {*/
/*}*/

/** html .gwt-DecoratedTabBar .tabTopLeftInner,*/
/** html .gwt-DecoratedTabBar .tabTopRightInner {*/
    /*width: 3pt;*/
    /*height: 3pt;*/
    /*overflow: hidden;*/
/*}*/

/*.gwt-TabPanel {*/
/*}*/

/*.gwt-TabLayoutPanelContent {*/
    /*min-width: 100%;*/
    /*overflow: auto;*/
    /*min-height: 1000pt;*/
    /*height: auto;*/
/*}*/


/*.gwt-TabPanelBottom {*/
    /*border-color: #ccc;*/
    /*border-style: solid;*/
    /*border-width: 0pt 1pt 1pt;*/
    /*overflow: hidden;*/
    /*padding: 6pt;*/
/*}*/

/*.gwt-TabLayoutPanel {*/
    /*min-height: 1500pt;*/
    /*overflow: auto;*/
    /*height: auto;*/
    /*padding-top: 10pt;*/
/*}*/

