<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
        <servlet-name>InternshipsServlet</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.internships.InternshipsServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi CompaniesService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.companies.CompaniesServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi OntologyExtraInfoService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.ontologyextrainfo.OntologyExtraInfoServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi TechnologyService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.technologies.TechnologyServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi TechnicalSkillsService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.technicalskills.TechnicalSkillsServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi StudentService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.students.StudentServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi InternshipApplicationService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.applications.InternshipApplicationServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi ProgressDetailsService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.progressdetails.ProgressDetailsServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi TeachersService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.teachers.TeachersServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi LoginService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.server.login.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi SigninService</servlet-name>
        <servlet-class>ro.infoiasi.wad.sesi.client.authentication.SigninServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InternshipsServlet</servlet-name>
        <url-pattern>/sesi/InternshipsService</url-pattern>

    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi CompaniesService</servlet-name>
        <url-pattern>/sesi/CompaniesService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi OntologyExtraInfoService</servlet-name>
        <url-pattern>/sesi/OntologyExtraInfoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi TechnologyService</servlet-name>
        <url-pattern>/sesi/TechnologyService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi TechnicalSkillsService</servlet-name>
        <url-pattern>/sesi/TechnicalSkillsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi StudentService</servlet-name>
        <url-pattern>/sesi/StudentService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi InternshipApplicationService</servlet-name>
        <url-pattern>/sesi/InternshipApplicationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi ProgressDetailsService</servlet-name>
        <url-pattern>/sesi/ProgressDetailsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi TeachersService</servlet-name>
        <url-pattern>/sesi/TeachersService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi LoginService</servlet-name>
        <url-pattern>/sesi/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ro.infoiasi.wad.sesi.Sesi SigninService</servlet-name>
        <url-pattern>/sesi/SigninService</url-pattern>
    </servlet-mapping>


    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Sesi.html</welcome-file>
  </welcome-file-list>

</web-app>
